body {
    background: rgba(0, 0, 0, 0.1);
}

.navbar-bg {
    background-color: #333;
}

.imagem-barbearia {
    object-fit: cover;
    width: 100%;
    height: 520px;
    object-position: 80% 0;
}

.titulo-principal {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 100;
    animation: fade-in 6s;
}

.darken-inicio::before {
    position: absolute;
    content: "";
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 520px;
    top: 0;
    left: 0
}

.sobre {
    padding: 1rem;
    margin: 0 auto;
    max-width: 990px;
    color: #333;
}

.sobre p {
    font-size: .9rem;
    text-align: justify;
    margin: 1rem 0;
}

strong {
    color: #000;
}

.baixo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.beneficios {
    position: relative;
    max-width: 315px;
    margin: 0 2%;
}

.beneficios::before {
    position: absolute;
    content: "";
    background: rgba(2, 2, 2, 0.6);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
}

.beneficios img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 10px #000;
}

.beneficios .lista-beneficios {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    line-height: 2rem;
}

.beneficios h2 {
    font-size: 1.5rem;
    background: linear-gradient(to right, transparent, #fff, transparent);
    background-repeat: no-repeat;
    background-size: 80% 1px;
    background-position: bottom center;
    padding: .2rem;
    margin-bottom: 1rem;
}

.video {
    padding: 1rem 0;
    width: 560px;
    margin: 0 2%;
}

.video iframe {
    width: 100%;
    max-width: 560px;
    box-shadow: 0 0 10px #000;
}


/* ----- MEDIA QUERIES ------ */

@media(min-width: 360px) {
    .sobre {
        padding: 2rem;
    }
}

@media(min-width: 660px) {
    .sobre h2 {
        font-size: 2rem;
        padding-bottom: 1.5rem;
    }
    .sobre p {
        font-size: 1.05rem;
    }
    .imagem-barbearia {
        object-fit: cover;
        width: 100%;
        height: 680px;
    }
    .darken-inicio::before {
        height: 680px;
    }
    .titulo-principal {
        font-size: 3rem;
    }
}

@media(min-width: 1300px) {
    .titulo-principal {
        font-size: 4rem;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}