body {
    background: rgba(0, 0, 0, 0.1);
}

.navbar-bg {
    background-color: #333;
}

.imagem-sobre {
    background: url('../img/banner4.png');
    height: 20rem;
    background-size: cover;
    background-position: center;
    position: relative;
}

.sobre {
    padding: 1rem;
    margin: 0 auto;
    max-width: 960px;
}

.sobre h2 {
    font-size: 1.5rem;
    margin-top: 3.5rem;
}

.sobre p {
    font-size: .9rem;
    text-align: justify;
    margin: 1rem 0;
    color: #333;
}

strong {
    color: #000;
}

.baixo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.beneficios {
    position: relative;
    max-width: 315px;
    margin: 0 2%;
}

.beneficios::before {
    position: absolute;
    content: "";
    background: rgba(2, 2, 2, 0.6);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.beneficios img {
    width: 100%;
}

.beneficios .lista-beneficios {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    line-height: 2rem;
}

.beneficios h2 {
    font-size: 1.5rem;
    background: linear-gradient(to right, transparent, #fff, transparent);
    background-repeat: no-repeat;
    background-size: 80% 1px;
    background-position: bottom center;
    padding: .2rem;
    margin-bottom: 1rem;
}

.video {
    padding: 1rem 0;
    width: 560px;
    margin: 0 2%;
}

.video iframe {
    width: 100%;
    max-width: 560px;
}

@media(min-width: 360px) {
    .sobre {
        padding: 2rem;
    }
}

@media(min-width: 660px) {
    .sobre h2 {
        font-size: 2rem;
    }
    .sobre p {
        font-size: 1.05rem;
    }
}